Repository Codeinwp/themeisle-companion, pull requests merged in 2025-08, with the labels that each got.

#931 Feat: Social sharing module enhancements
  dashboard/src/components/ModuleControl.jsx
  dashboard/src/components/ModuleSettings.jsx
  obfx_modules/social-sharing/css/admin.css
  obfx_modules/social-sharing/css/public.css
  obfx_modules/social-sharing/css/vendor/socicon/fonts/Socicon.ttf
  obfx_modules/social-sharing/css/vendor/socicon/fonts/Socicon.woff
  obfx_modules/social-sharing/css/vendor/socicon/fonts/Socicon.woff2
  obfx_modules/social-sharing/css/vendor/socicon/socicon.css
  obfx_modules/social-sharing/css/vendor/socicon/twitter-x.svg
  obfx_modules/social-sharing/init.php
  obfx_modules/social-sharing/js/admin.js
  obfx_modules/social-sharing/js/public.js
  obfx_modules/social-sharing/social-icons.php
  obfx_modules/social-sharing/views/hestia-social-sharing-tpl.php
  obfx_modules/social-sharing/views/social-sharing-tpl.php
Labels: pr-checklist-complete

#927 Fix: template directory redirect
  obfx_modules/template-directory/init.php
Labels: pr-checklist-complete

#936 Fix: scroll contact form notifications into view after submission
  obfx_modules/content-forms/assets/content-forms.js
Labels: pr-checklist-complete

#939 chore: adds formbricks NPS
  core/app/class-orbit-fox-admin.php
  core/includes/class-orbit-fox.php
Labels: pr-checklist-complete

#905 Added templates, more visual settings and a minimal cookie blocking functionality
  obfx_modules/policy-notice/init.php
Labels: discussion

#940 Feat: Add Reading Progress Bar Module
  core/app/class-orbit-fox-global-settings.php
  dashboard/src/components/ModuleControl.jsx
  dashboard/src/components/ui/picker.jsx
  obfx_modules/reading-progress-bar/init.php
Labels: pr-checklist-complete

#935 Feat: login customizer module
  .distignore
  .gitignore
  core/app/class-orbit-fox-admin.php
  core/app/class-orbit-fox-global-settings.php
  dashboard/src/ui/provider.jsx
  dashboard/src/ui/toaster.jsx
  dashboard/src/ui/tooltip.jsx
  eslint.config.js
  obfx_modules/login-customizer/css/customizer.css
  obfx_modules/login-customizer/css/login.css
  obfx_modules/login-customizer/inc/class-obfx-login-control.php
  obfx_modules/login-customizer/inc/class-obfx-login-security.php
  obfx_modules/login-customizer/inc/class-obfx-login-values.php
  obfx_modules/login-customizer/init.php
  obfx_modules/login-customizer/js/previewer.js
  obfx_modules/login-customizer/js/src/common/constants.js
  obfx_modules/login-customizer/js/src/components/Footer.jsx
  obfx_modules/login-customizer/js/src/components/LoginControl.jsx
  obfx_modules/login-customizer/js/src/components/Sections.jsx
  obfx_modules/login-customizer/js/src/components/controls/BackgroundAlignment.jsx
  obfx_modules/login-customizer/js/src/components/controls/BorderControl.jsx
  obfx_modules/login-customizer/js/src/components/controls/Color.jsx
  obfx_modules/login-customizer/js/src/components/controls/Heading.jsx
  obfx_modules/login-customizer/js/src/components/controls/Image.jsx
  obfx_modules/login-customizer/js/src/components/controls/Input.jsx
  obfx_modules/login-customizer/js/src/components/controls/Number.jsx
  obfx_modules/login-customizer/js/src/components/controls/Range.jsx
  obfx_modules/login-customizer/js/src/components/controls/ResetButton.jsx
  obfx_modules/login-customizer/js/src/components/controls/Select.jsx
  obfx_modules/login-customizer/js/src/components/controls/Spacing.jsx
  obfx_modules/login-customizer/js/src/components/controls/Toggle.jsx
  obfx_modules/login-customizer/js/src/components/settings/AdditionalOptions.jsx
  obfx_modules/login-customizer/js/src/components/settings/Background.jsx
  obfx_modules/login-customizer/js/src/components/settings/FormFooter.jsx
  obfx_modules/login-customizer/js/src/components/settings/FormStyling.jsx
  obfx_modules/login-customizer/js/src/components/settings/LoginButton.jsx
  obfx_modules/login-customizer/js/src/components/settings/Logo.jsx
  obfx_modules/login-customizer/js/src/components/settings/UrlSettings.jsx
  obfx_modules/login-customizer/js/src/components/ui/colorPicker.jsx
  obfx_modules/login-customizer/js/src/components/ui/provider.jsx
  obfx_modules/login-customizer/js/src/components/ui/tooltip.jsx
  obfx_modules/login-customizer/js/src/customizer.js
  obfx_modules/login-customizer/js/src/hooks/useLoginCustomizerOptions.jsx
  obfx_modules/login-customizer/js/src/hooks/useSectionLoaded.jsx
  package.json
  phpcs.xml
Labels: pr-checklist-complete

#943 Fixed cross site scripting
  obfx_modules/elementor-extra-widgets/widgets/elementor/posts-grid.php
  obfx_modules/elementor-extra-widgets/widgets/elementor/services.php
Labels: pr-checklist-complete, pr-checklist-skip
